@namespace url(http://www.w3.org/1999/xhtml);

/* Global */
body { margin: 0; padding: 0; }

/* MSDN Channel9 */
@-moz-document domain(msdn.com) {
  .branding { display: none !important; }

  /* positioning & size */
  .playerGoesHere { position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 1; }
  video { width: 100% !important; height: 100% !important; }

  /* controls */
  /*.ch9p .controls { display: flex !important; } /* debug controls */
  .ch9p .seek.control { background: linear-gradient(90deg, rebeccapurple, rebeccapurple); }
  .ch9p .seek.control .handle { border-color: greenyellow !important; background: linear-gradient(45deg, white, whitesmoke); }
  .ch9p .skipBack::after { color: white; content: "HTML5"; margin-left: 15px; }
}

/* YouTube */
@-moz-document url-prefix("https://www.youtube.com/watch?v=") {
  body { /*overflow: hidden; /* todo only apply this when in theater mode */ }
}
@-moz-document domain(youtube.com) {
  /* positioning & size */
  #page.watch-wide #movie_player { position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: -1; }

  #page.watch-wide #movie_player video,
  #page.watch-wide #movie_player #player-api,
  #page.watch-wide #movie_player .html5-video-player,
  #page.watch-wide #movie_player .html5-video-container,
  #page.watch-wide #movie_player .html5-video-content {
    width: 100% !important;
    height: 100% !important;
  }

  /* controls */
  .ytp-unloaded-progress { background: linear-gradient(90deg, rebeccapurple, rebeccapurple); }
  .ytp-play-progress { background: linear-gradient(128deg, black, greenyellow); background-size: 100% 100%; box-shadow: 0 0 12px #000; }
  .ytp-load-progress { background: linear-gradient(90deg, magenta, darkmagenta); }
  .html5-scrubber-button { border: 5px solid #fff; background: #f0f; }
  .ytp-volume-slider-foreground::before { background: linear-gradient(90deg, black, red) }
  .ytp-time-display::after { color: white; content: "HTML5"; margin-left: 15px; }
}
